stages:
  - build
  - deploy

variables:
  DOCKER_IMAGE: "baigo1243/vite_app:latest"
  DOCKER_USERNAME: "baigo1243"

build_image:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  script:
    - docker build -t $DOCKER_IMAGE .
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - docker push $DOCKER_IMAGE

deploy_container:
  stage: deploy
  image: docker:24
  services:
    - docker:24-dind
  script:
    - docker stop viteAPP || true
    - docker rm viteAPP || true
    - docker pull $DOCKER_IMAGE
    - docker run -d --name viteAPP -p 5174:5173 $DOCKER_IMAGE