name: Deploy React Vite App

on: 
  push:
   branches: [dev_hassan]       
  workflow_dispatch:       

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20     # choose stable LTS

      - name: Install Dependencies
        run: npm install


      - name: Build App
        run: npm run build

      - name: Show Build Folder
        run: ls -la dist      