name: Deploy

on: 
  - push
  - workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4   

      - name: Show Repo Details
        run: |
          echo "Repository: ${{ github.repository }}"
          echo "Triggered By: ${{ github.actor }}"
          echo "Event Name: ${{ github.event_name }}"
